<p class="prose-slate mb-10">En este primer ejercicio debes introducir una frase de al menos cinco palabras, luego pulsa el botón para validarlo.</p>

<input type="text" class="w-full max-w-[600px] p-2 rounded-lg text-black phrase-1" placeholder="Introduce una frase..."
       aria-label="Introduce una frase..." required>

<div class="flex justify-center">
    <button id="btn-send-1" class="mt-10 bg-blue-500 block px-20 py-2 rounded-full">Enviar</button>
</div>