<p class="prose-slate mb-10">
    Inserta una frase en el campo de texto, después podrás buscar palabras en ella o añadir una nueva palabra.
</p>

<input type="text" class="w-full max-w-[600px] p-2 rounded-lg text-black phrase-2" placeholder="Introduce una frase..."
       aria-label="Introduce una frase..." required>

<div id="search-word-container" class="hidden gap-4 mt-4">
    <input type="text" class="w-full max-w-[600px] p-2 rounded-lg text-black search-word" placeholder="Introduce una palabra..."
           aria-label="Introduce una palabra..." required>
    <button id="btn-search-word" class="bg-blue-500 block px-10 py-2 rounded-full">Buscar</button>
</div>

<div class="flex justify-center">
    <button id="btn-send-2" class="mt-10 bg-blue-500 block px-20 py-2 rounded-full">Enviar</button>
</div>