---
import {Icon} from "astro-icon/components";
---
<p class="prose-slate mb-10">
    En este ejercicio introducirás una lista de números separados por comas. El programa mostrará únicamente los valores que aparezcan una vez y la media de dichos valores.
</p>

<div class="relative w-full">
    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <Icon name="mdi:invoice-list" class="size-5 text-gray-400"/>
    </div>
    <input type="text" class="numbers bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Lista de números..." required />
</div>

<div class="flex justify-center">
    <button id="btn-send-5" class="mt-10 bg-blue-500 block px-20 py-2 rounded-full">Enviar</button>
</div>